* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: 'PT Sans Caption';
  -webkit-transition: scroll 14s;
  transition: scroll 14s;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  border: 1px solid #000;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background: #000;
}

.logo__img {
  width: 60px;
}

.logo__link__img {
  width: 60px;
  height: 51px;
  background: url("../img/logo1.png") no-repeat center/cover;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.input__block {
  position: relative;
  width: 100%;
}

.form-error {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -20px;
  color: tomato;
}

.condition {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: -25px;
  width: 102px;
  margin-left: -51px;
}

.transition-fade {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1001;
}

.preloader__item-img {
  width: 100px;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -50px;
  margin-left: -50px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.title {
  font-size: 40px;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.hero {
  position: relative;
}

.hero::after {
  position: absolute;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-content {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  color: #fff;
  font-size: 80px;
  z-index: 5;
}

.button {
  cursor: pointer;
  margin-top: 20px;
  padding: 20px 40px;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  background-color: #F1F1F1;
  color: #292929;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover {
  background-color: #292929;
  color: #F1F1F1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 50px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header-active {
  background: rgba(255, 255, 255, 0.95);
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin: auto;
  margin-right: 50px;
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__link {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.header__nav__link-active::after {
  opacity: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  bottom: 0;
  left: 0;
  margin-bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.header__nav__link-active-dark::after {
  background-color: #000;
}

.header__nav__link::before {
  position: absolute;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  opacity: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -5px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__nav__link:hover::before {
  opacity: 1;
}

.header__nav__link-dark::before {
  background-color: #000;
}

.header__nav-close {
  position: absolute;
  display: none;
  top: 50px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: url("../img/close.png") no-repeat center/cover;
  border: none;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100px;
  width: 100%;
  margin: auto;
}

.header__contacts__block {
  width: 15px;
  height: 15px;
}

.header__contacts__block-facebook {
  background: url("../img/social/facebook.png") no-repeat center/cover;
}

.header__contacts__block-facebook-active {
  background: url("../img/social/facebook-dark.png") no-repeat center/cover;
}

.header__contacts__block-insta {
  background: url("../img/social/insta.png") no-repeat center/cover;
}

.header__contacts__block-vk {
  background: url("../img/social/vk.png") no-repeat center/cover;
}

.promo {
  position: relative;
  color: #fff;
  padding-top: 95.78px;
  margin-top: -95.78px;
  overflow: hidden;
}

.promo::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.promo__slide__content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__info {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 600px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.promo__info__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  font-size: 80px;
  font-weight: 400;
}

.promo__info__text {
  margin-top: 20px;
  font-size: 25px;
}

.promo__info__button {
  cursor: pointer;
  margin-top: 20px;
  padding: 20px 40px;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  background-color: #F1F1F1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  color: #292929;
}

.promo__info__button:hover {
  background-color: #292929;
  color: #F1F1F1;
}

.about__title {
  text-align: center;
}

.about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__card {
  max-width: 300px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about__card__title {
  font-size: 23px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.about__img {
  width: 500px;
}

.about__img__block {
  border-radius: 20px;
  overflow: hidden;
  height: 200px;
}

.about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 130px;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  margin-top: 50px;
}

.attendance {
  position: relative;
  color: #fff;
}

.attendance::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.attendance-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.attendance__title {
  line-height: 1;
}

.attendance__block {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.attendance__info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.attendance__list {
  margin-top: 30px;
  list-style: none;
}

.attendance__item {
  margin-bottom: 10px;
}

.attendance__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  padding: 20px 40px;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  background-color: #116cff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 20px;
}

.attendance__link:hover {
  background-color: #fff;
  color: #116cff;
}

.attendance__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.attendance__img {
  height: 400px;
  border-radius: 20px;
}

.tasks {
  text-align: center;
}

.tasks__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}

.tasks__card {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks__card__title {
  font-size: 20px;
  height: 50px;
}

.tasks__card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.tasks__number {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #475b6c;
  color: #fff;
  font-size: 50px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.control {
  position: relative;
  color: #fff;
  text-align: center;
}

.control::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.control-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.control__block {
  position: relative;
  z-index: 5;
}

.control__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 50px;
  max-width: 800px;
  margin-bottom: 50px;
}

.control__link {
  color: #fff;
}

.questions {
  position: relative;
  text-align: center;
  color: #fff;
}

.questions::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.questions-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.questions__block {
  position: relative;
  z-index: 5;
}

.questions__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.questions__form {
  position: relative;
  max-width: 300px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions__input {
  padding: 10px;
  margin-top: 30px;
  font-size: 18px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  width: 100%;
}

.questions__input::-webkit-input-placeholder {
  color: #fff;
}

.questions__input:-ms-input-placeholder {
  color: #fff;
}

.questions__input::-ms-input-placeholder {
  color: #fff;
}

.questions__input::placeholder {
  color: #fff;
}

.questions__button {
  cursor: pointer;
  margin-top: 30px;
  padding: 20px 40px;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  background-color: #F1F1F1;
  color: #292929;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.questions__button:hover {
  background-color: #292929;
  color: #F1F1F1;
}

.reviews {
  text-align: center;
}

.reviews-slider {
  position: relative;
}

.reviews-slider__img {
  width: 250px;
}

.reviews-slider__img__content {
  width: 150px;
  height: 150px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-slider__item {
  max-width: 350px;
  margin: auto;
  opacity: 0.6;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.reviews-slider__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reviews-slider .slick-arrow {
  position: absolute;
  bottom: 0;
  margin-bottom: -50px;
  cursor: pointer;
  font-size: 0;
  height: 30px;
  width: 30px;
  border: none;
  border: 1px solid #000;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.reviews-slider .slick-arrow:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.reviews-slider .slick-arrow.slick-prev {
  left: 47%;
  background: url("../img/prev.png") no-repeat center/cover;
}

.reviews-slider .slick-arrow.slick-next {
  right: 47%;
  background: url("../img/next.png") no-repeat center/cover;
}

.reviews-slider__item.slick-center {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.slick-list {
  overflow: hidden;
}

.footer {
  padding: 20px 50px;
  background-color: #292929;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100px;
  width: 100%;
}

.footer__contacts__block {
  width: 15px;
  height: 15px;
}

.footer__contacts__block-facebook {
  background: url("../img/social/facebook.png") no-repeat center/cover;
}

.footer__contacts__block-insta {
  background: url("../img/social/insta.png") no-repeat center/cover;
}

.footer__contacts__block-vk {
  background: url("../img/social/vk.png") no-repeat center/cover;
}

.attendances {
  text-align: center;
}

.attendances__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.attendances__card {
  max-width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.attendances__card__img {
  max-height: 50px;
  max-width: 50px;
  margin-bottom: 20px;
}

.info {
  padding-bottom: 100px;
}

.info__slider {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 550px;
  min-height: 500px;
  margin: auto;
  margin-top: -100px;
  margin-bottom: 100px;
}

.info__slider__button {
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.info__slider__button:hover {
  opacity: 1;
}

.info__slider__button-prev {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: -100px;
  background: url("../img/prev.png") no-repeat center/cover;
}

.info__slider__button-next {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: -100px;
  background: url("../img/next.png") no-repeat center/cover;
}

.info__slider__dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  left: 50%;
  max-width: 100px;
  width: 100%;
  margin-left: -50px;
  margin-bottom: -50px;
}

.info__slider__dot {
  width: 10px;
  height: 10px;
  background-color: #F1F1F1;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.info__slider__dot-active {
  background-color: #292929;
}

.info__slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.info__slide__img {
  height: 400px;
  min-width: 550px;
}

.info__slide__img__block {
  height: 400px;
  max-width: 550px;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.info__slide__title {
  margin: 20px 0;
}

.info__content {
  margin-top: 50px;
}

.info__content__title {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__content__text {
  margin-top: 20px;
}

.info__content__text-b {
  font-weight: bold;
}

.info__content__img {
  max-width: 600px;
}

.info__content__img__block {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__content__img__text {
  margin-top: 10px;
}

.facilities__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.facilities__card {
  max-width: 500px;
  margin-top: 50px;
}

.facilities__img {
  width: 550px;
}

.facilities__img__block {
  position: relative;
  max-height: 350px;
  max-width: 500px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.facilities__img__block::after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.facilities__img__block-ranishaw::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: 'Ranishaw';
  color: #fff;
  font-size: 35px;
  margin: 20px;
  z-index: 55;
}

.facilities__img__block-toolmaster::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: 'Toolmaster';
  color: #fff;
  font-size: 35px;
  margin: 20px;
  z-index: 55;
}

.contacts {
  padding-top: 100px;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__tel {
  font-size: 32px;
  margin-bottom: 30px;
}

.contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  width: 100%;
}

.contacts__socials__link {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.contacts__socials__link__block {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.contacts__socials__link__block-facebook {
  background: #F1F1F1 url("../img/social/facebook-dark-contacts.png") no-repeat center;
  background-size: 30%;
}

.contacts__socials__link__block-insta {
  background: #F1F1F1 url("../img/social/insta-dark-contacts.png") no-repeat center;
  background-size: 30%;
}

.contacts__socials__link__block-vk {
  background: #F1F1F1 url("../img/social/vk-dark-contacts.png") no-repeat center;
  background-size: 30%;
}

.contacts__socials__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contacts__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 40%;
  width: 100%;
}

.contacts__input {
  width: 100%;
  margin-top: 30px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #F1F1F1;
  width: 100%;
}

.contacts__button {
  max-width: 300px;
  margin: auto;
  margin-top: 30px;
}

.map {
  margin-top: 100px;
}

@media screen and (max-width: 1250px) {
  .container {
    max-width: 1000px;
  }
  .attendance__img {
    height: 300px;
  }
  .reviews-slider .slick-arrow.slick-next {
    right: 45%;
  }
  .reviews-slider .slick-arrow.slick-prev {
    left: 45%;
  }
  .facilities__card {
    max-width: 450px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    max-width: 800px;
  }
  .about__cards {
    margin-top: 0;
  }
  .about__card {
    margin-top: 30px;
    max-width: 370px;
  }
  .about__card__title {
    font-size: 22px;
  }
  .about__card__text {
    font-size: 20px;
  }
  .about__img__block {
    height: 250px;
  }
  .attendance__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .attendance__item {
    font-size: 20px;
  }
  .attendance__images {
    display: none;
  }
  .attendance__info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .tasks__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
  .tasks__card {
    max-width: 500px;
    margin-top: 40px;
  }
  .tasks__card__title {
    height: auto;
  }
  .tasks__card__text {
    margin-top: 10px;
  }
  .tasks__number {
    margin-bottom: 15px;
  }
  .attendances__card {
    max-width: 45%;
  }
  .attendances__card__text {
    font-size: 20px;
  }
  .facilities {
    font-size: 20px;
  }
  .facilities__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .facilities__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
  .contacts__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__connection {
    margin-bottom: 50px;
  }
  .contacts__form {
    max-width: 50%;
  }
  .contacts__form__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 850px) {
  .button:hover {
    background-color: #F1F1F1;
    color: #292929;
  }
  .container {
    max-width: 650px;
  }
  .header {
    background-color: white;
  }
  .header__content {
    width: 40px;
    height: 40px;
    background: url("../img/burger.png") no-repeat center/cover;
  }
  .header__info {
    position: relative;
    display: none;
    opacity: 0;
  }
  .header__info-active {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin: 0;
    font-size: 40px;
  }
  .header__nav__link {
    margin-bottom: 20px;
    color: #000;
  }
  .header__nav__link:hover::before {
    opacity: 0;
  }
  .header__contacts {
    display: none;
  }
  .logo__link__img {
    background: url("../img/logo-dark.png") no-repeat center/cover;
  }
  .promo__info__button:hover {
    background-color: #F1F1F1;
    color: #292929;
  }
  .attendance__link:hover {
    background-color: #116cff;
    color: #fff;
  }
  .questions__button:hover {
    background-color: #F1F1F1;
    color: #292929;
  }
  .reviews-slider .slick-arrow {
    opacity: 1;
  }
  .reviews-slider .slick-arrow:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .tasks__card__text {
    font-size: 20px;
  }
  .control__text {
    font-size: 20px;
  }
  .control__link {
    font-size: 20px;
  }
  .about__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__card {
    margin-top: 50px;
  }
  .reviews-slider .slick-arrow.slick-next {
    right: 40%;
  }
  .reviews-slider .slick-arrow.slick-prev {
    left: 40%;
  }
  .slick-track {
    padding-bottom: 30px;
  }
  .attendances__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .attendances__card {
    max-width: 80%;
  }
  .hero__title {
    font-size: 70px;
  }
  .info__slider__button-next {
    margin-right: -70px;
  }
  .info__slider__button-prev {
    margin-left: -70px;
  }
  .info {
    font-size: 20px;
  }
  .info__slider {
    min-height: 550px;
  }
  .info__slider__dot {
    width: 15px;
    height: 15px;
  }
  .info__slider__dots {
    max-width: 130px;
    margin-left: -65px;
  }
  .info__slider__button {
    opacity: 1;
  }
  .info__content__title {
    font-size: 22px;
  }
  .contacts__form {
    max-width: 100%;
  }
  .contacts__socials__link:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .questions__text {
    font-size: 20px;
  }
  .about__link {
    font-size: 20px;
    max-width: 150px;
  }
}

@media screen and (max-width: 700px) {
  .info__slider {
    max-width: 500px;
    min-height: 500px;
  }
  .info__slide__img {
    height: 350px;
  }
  .info__slide__img__block {
    height: 350px;
  }
  .facilities__title {
    max-width: 330px;
  }
}

@media screen and (max-width: 650px) {
  .container {
    max-width: 500px;
  }
  .promo__info__title {
    font-size: 60px;
  }
  .title {
    font-size: 30px;
  }
  .hero__title {
    font-size: 50px;
  }
  .info__content__img {
    max-width: 500px;
  }
  .info__slider {
    max-width: 400px;
    min-height: 450px;
  }
  .info__slide__img {
    height: 300px;
  }
  .info__slide__img__block {
    height: 300px;
  }
  .facilities__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .preloader__row {
    margin-top: -35px;
    margin-left: -35px;
  }
  .preloader__item-img {
    width: 60px;
  }
  .container {
    max-width: 350px;
  }
  .header {
    padding: 20px;
  }
  .header__nav {
    font-size: 35px;
  }
  .header__content {
    width: 30px;
    height: 30px;
  }
  .logo__link__img {
    width: 40px;
    height: 35px;
  }
  .promo__info__title {
    font-size: 40px;
  }
  .promo__info__text {
    font-size: 23px;
  }
  .title {
    font-size: 25px;
  }
  .about__card {
    max-width: 345px;
  }
  .attendance__item {
    margin-bottom: 30px;
  }
  .reviews-slider .slick-arrow.slick-next {
    right: 37%;
  }
  .reviews-slider .slick-arrow.slick-prev {
    left: 37%;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .attendance-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .control-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .questions-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .reviews-slider .slick-arrow {
    margin-bottom: -20px;
  }
  .info {
    padding-bottom: 50px;
  }
  .info__slider {
    min-height: 470px;
  }
  .info__slider__button-prev {
    top: 105%;
    margin-left: 0;
    margin-bottom: -100px;
  }
  .info__slider__button-next {
    top: 105%;
    margin-right: 0;
  }
  .info__slider__dot {
    width: 15px;
    height: 15px;
  }
  .info__content__img {
    max-width: 345px;
  }
  .contacts__tel {
    font-size: 26px;
  }
  .contacts__form {
    text-align: center;
  }
  .facilities__title {
    max-width: 235px;
  }
  .facilities__img {
    max-width: 350px;
  }
  .facilities__img__block {
    max-height: 228px;
  }
}
/*# sourceMappingURL=style.css.map */